// UTILITIES
.u-p-small {
    padding: 1rem;
}

.u-p-medium {
    padding: 2rem;
}

.u-p-large {
    padding: 4rem;
}

.u-my-small {
    margin: 1rem 0;
}

.u-my-medium {
    margin: 2rem 0;
}

.u-my-large {
    margin: 4rem 0;
}